@import 'vars';

html, body {
  background: $background-color;
  text-align: center;
  display: block;
  font-family: sans-serif;
  color: $font-color;
  margin-top: 10px;
}

a {
  color: $font-color;
}

a:hover {
  text-decoration: none;
}

.category-form {
  margin: 5vw 6.5vw;
}