$background-color: #83AC6B;
$font-color: rgba(0,0,0,0.8);

$category-color: #83AC6B;
$modal-background: #FFF;
$error: #ff0000;

.category .updateCategory {
  display: none;
}
.category .updateCategoryShow {
  display: inline-block;
}
