$background-color: #83AC6B;
$font-color: rgba(0,0,0,0.8);
$header-bkg-clr: #46752A;

$category-color: #46752A;
$expense-color: #D4E7C9;
$expense-form: #649047;

$error: #ff0000;

.category .updateCategory {
  display: none;
}
.category .updateCategoryShow {
  display: inline-block;
}
