@import '../../style/vars';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $modal-color;

  .modal-main {
    background: $background;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-button {
    float: right;
    width: 25px;
    margin: 5px 5px;
  }
}

.display-block {
  display: block;
}
.display-none {
  display: none;
}